
# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
# *.log
shared/**
!shared/provision.sh
!shared/provision-post-kernel.sh
!shared/provision-gh-runner.sh
!shared/provision-gh-runner-register.sh
!shared/github-runner.env.example
