on:
  push:
    paths:
      - app_python/**
      - .github/workflows/app_python.yml

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.14]
        poetry-version: [2.3.2]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: ./app_python
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - uses: snok/install-poetry@v1
        with:
          version: ${{ matrix.poetry-version }}
      - name: Install dependencies
        run: poetry install
      - name: Lint with flake8
        run: poetry run flake8 src tests
      - name: Test using pytest
        run: poetry run pytest
